html,
body {
  /* Hace que no haya scroll ya que es un login waos */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  display: flex;
  height: 100vh;
}

#logo-esq {
  width: 27%;
  height: auto;
  margin: 25px auto auto 30px;
}

#wlcm {
  margin: 40px auto 40px auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.credentials {
  background-color: rgb(219, 214, 214);
  width: 50%;
  height: 100vh;
}

.data>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: brown;
}

#consultorio {
  width: 100%;
  height: auto;
  /* La imagen se llena completamente y trata de proporcionarse a lo alto con el auto */
  /* Haz que la imagen llene su contenedor pero sin deformarse */
  object-fit: cover;
}

.logo {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .logo {
    display: none;
    /* Oculta el logo en móviles */
  }

  .credentials {
    width: 100%;
    /* Hace que el formulario ocupe toda la pantalla */
  }
}