html,
body {
  /* Hace que no haya scroll ya que es un login waos */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  display: flex;
  height: 100vh;
}

#consultorio {
  width: 100%;
  height: auto;
  /* La imagen se llena completamente y trata de proporcionarse a lo alto con el auto */
  /* Haz que la imagen llene su contenedor pero sin deformarse */
  object-fit: cover;
}

#logo-esq {
  width: 27%;
  height: auto;
  margin: 0 auto 20px auto;
  /* Añade 20px de margen inferior */
}

label {
  margin-bottom: 4px;
}

p {
  margin-bottom: 0;
}

.credentials {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data {
  background-color: rgba(227, 204, 204, 0.263);
  border-radius: 50px;
  border: 2px solid rgba(110, 110, 110, 0.219);
  width: 55%;
  height: 55%;
  max-width: 500px;
  padding: 1% 5% 5% 5%;
  /* Padding horizontal relativo al ancho */
  margin: 0 auto;
  /* Centrado horizontal si el padre lo permite */
}

.data>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra los elementos del formulario */
  justify-content: center;
  margin: 0 auto;
  /* Centra el formulario horizontalmente */
  width: 80%;
  /* Ajusta el ancho del formulario dentro del contenedor .data */
}

form>div {
  margin: 5px auto 15px auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Ahora ocupa el 100% del ancho del formulario */
}

.inputs input {
  border: none;
  border-bottom: 2px solid #cccccc76;
  outline: none;
  /*quita el resaltado al enfocar */
  background-color: transparent;
  padding: 5px 0;
  /* Espacio interno para que no toque la línea */
}

.inputs input:focus {
  border-bottom-color: #4CAF50;
}

/* Elimina el fondo azul y texto blanco del autocompletado */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #333;
  /* Color del texto */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  /* Fondo */
  transition: background-color 5000s ease-in-out 0s;
  /* Elimina retraso de estilo */
}

/* Opcional: Estilo cuando está seleccionado */
input:autofill {
  background-color: transparent !important;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.logo {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .credentials {
    width: 100%;
    padding: 20px;
  }

  .data {
    width: 90%;
    border-radius: 30px;
  }

  .data>form {
    width: 90%;
  }
}